<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Notes Online</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<!-- ШАПКА -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/NotesOnline">
                <img src="https://i.imgur.com/eCO8CJ4.png">
                Notes Online
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="d-flex" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Search
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a id="byGroup" class="dropdown-item" href="/NotesOnline/byGroup?search=">by group</a></li>
                        <li><a id="byName" class="dropdown-item" href="/NotesOnline/byName?search=">by name</a></li>
                        <li><a id="byBody" class="dropdown-item" href="/NotesOnline/byBody?search=">by body</a></li>
                    </ul>
                </div>
            </form>

            <div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${user.name}"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!--<li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>-->
                                <li><a class="dropdown-item" href="/logout">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">


            <!-- БОКОВОЕ МЕНЮ С ГРУППАМИ -->
            <div class="col-3">
                <nav class="navbar navbar-light flex-column align-items-stretch p-3">
                    <div class="btn-group">
                        <!--<a type="button" class="btn btn-primary" href="/NotesOnline/newGroup">
                            Create group
                        </a>-->
                        <a type="button" class="btn btn-primary" href="/NotesOnline/newNote">
                            Create note
                        </a>
                    </div>
                    <p></p>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <th:block th:each="group_m:${user.groups}">
                            <!-- Если показываем заметку и ид группы в меню совпадает с идом группы в отображаемой заметке - раскрываем элемент, меняем фон-->
                            <th:block th:if="${displayed.note and group_m.id==note.group.id}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" th:attr="id='flush-heading'+${group_m.id}">
                                        <a class="accordion-button btn" data-bs-toggle="collapse" th:attr="data-bs-target='#flush-collapse'+${group_m.id}" aria-expanded="true" th:text="${group_m.name}" style="background: #faffc2">
                                        </a>
                                    </h2>
                                    <div th:attr="id='flush-collapse'+${group_m.id}" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                                        <th:block th:each="note_m: ${group_m.notes}">
                                            <!-- Если ид заметки в меню совпадает с идом отображаемой заметки - меняем фон -->
                                            <div th:if="${note_m.id==note.id}" class="accordion-body"  style="background: #fad5da">
                                                <a class="dropdown-item" th:href="@{'/NotesOnline/note?id='+${note_m.id}}" th:text="${note_m.name}"></a>
                                            </div>
                                            <!-- Если ид заметки в меню не совпадает с идом отображаемой заметки - всё как обычно -->
                                            <div th:unless="${note_m.id==note.id}" class="accordion-body">
                                                <a class="dropdown-item" th:href="@{'/NotesOnline/note?id='+${note_m.id}}" th:text="${note_m.name}"></a>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                            <!-- Все остальные случаи - всё как обычно-->
                            <th:block th:unless="${displayed.note and group_m.id==note.group.id}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" th:attr="id='flush-heading'+${group_m.id}">
                                        <a class="accordion-button collapsed btn" data-bs-toggle="collapse" th:attr="data-bs-target='#flush-collapse'+${group_m.id}" aria-expanded="false" th:text="${group_m.name}">
                                        </a>
                                    </h2>
                                    <div th:attr="id='flush-collapse'+${group_m.id}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                        <th:block th:each="note_m: ${group_m.notes}">
                                            <div class="accordion-body">
                                                <a class="dropdown-item" th:href="@{'/NotesOnline/note?id='+${note_m.id}}" th:text="${note_m.name}"></a>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </nav>
            </div>
            <div class="col-8">
                <p></p>


                <!-- ПУСТОЕ ПОЛЕ -->
                <div th:if="${displayed.nothing}">
                    <div class="mb-2">
                        <h3 align="center">Select note or create new</h3>
                    </div>
                </div>

                <!-- ПОКАЗ ФОРМЫ СОЗДАНИЯ ЗАМЕТКИ -->
                <div th:if="${displayed.addNote}">
                    <form method="post" th:object="${newNote}">
                        <div class="mb-3">
                            <h5 align="center">New note</h5>
                            <label class="col-form-label">Name group:</label>
                            <input class="form-control" list="datalistOptions" placeholder="Select an existing or create a new..." th:field="${newNote.group}">
                            <datalist id="datalistOptions">
                                <th:block th:each="group:${user.groups}">
                                    <option th:value="${group.name}">
                                </th:block>
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Name note:</label>
                            <input type="text" class="form-control" placeholder="Note name" th:field="${newNote.name}">
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary">Create note</button>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- ПОКАЗ ФОРМЫ РЕДАКТИРОВАНИЯ ЗАМЕТКИ -->
                <div th:if="${displayed.note}">
                    <form method="post" th:object="${note}">
                        <div class="mb-2">
                            <label class="col-form-label">Name group:</label>
                            <input type="text" class="form-control" placeholder="Group name" disabled th:field="${note.group.name}">
                        </div>
                        <div class="mb-2">
                            <label class="col-form-label">Name note:</label>
                            <input type="text" class="form-control" placeholder="Note name" th:field="${note.name}">
                        </div>
                        <p></p>
                        <div class="mb-3">
                            <textarea class="form-control" placeholder="The text of the note" rows="16" th:field="${note.body}"></textarea>
                        </div>
                        <div>
                            <p class="text-start">Last change:</p>
                            <p class="text-start" th:text="${note.date}"></p>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <div class="d-flex btn-group">
                                <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

<!-- МОДАЛКА ДЛЯ УДАЛЕНИЯ ЗАМЕТКИ -->
<div th:if="${displayed.note}" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this note?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <a type="button" class="btn btn-primary" th:href="@{'/NotesOnline/delete?id='+${note.id}}">Delete note</a>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        var input = document.getElementById('search');

        var byGroup = document.getElementById('byGroup');
        var byName = document.getElementById('byName');
        var byBody = document.getElementById('byBody');

        input.addEventListener('change', function(event) {
            var hrefG = byGroup.getAttribute('href');
            byGroup.setAttribute('href', hrefG + input.value);

            var hrefN = byName.getAttribute('href');
            byName.setAttribute('href', hrefN + input.value);

            var hrefB = byBody.getAttribute('href');
            byBody.setAttribute('href', hrefB + input.value);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>