<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Notes Online</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <!-- ШАПКА -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/NotesOnline">
                <img src="https://i.imgur.com/eCO8CJ4.png">
                Notes Online
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${user.name}"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!--<li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>-->
                                <li><a class="dropdown-item" href="/logout">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row" th:if="${result.size()>0}">
            <th:block th:each="item:${result}">
                <div class="col-3 mr-auto" style="margin: 25px; background: #fcf5f6" th:onclick="@{location.href='/NotesOnline/note?id='+${item.id}}">
                    <label class="col-form-label">Name group:</label>
                    <p class="col-form-label" th:text="${item.group.name}"></p>
                    <p></p>
                    <hr class="dropdown-divider">
                    <label class="col-form-label">Name note:</label>
                    <p class="col-form-label" th:text="${item.name}"></p>
                    <p></p>
                    <hr class="dropdown-divider">
                    <label class="col-form-label">Body:</label>
                    <p class="col-form-label" th:text="${item.body}"></p>
                    <hr class="dropdown-divider">
                    <a class="btn btn-primary" style="display: block" th:href="@{'/NotesOnline/note?id='+${item.id}}">Go to the note</a>
                </div>
            </th:block>
        </div>
        <div th:if="${result.size()==0}">
            <div class="mb-2">
                <h3 align="center">The notes were not found</h3>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>